@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dancing+Script&family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant&family=Righteous&family=Tangerine:wght@400;700&display=swap');

/*font-family: 'Cormorant Infant', serif; Titulo de cada desayuno
font-family: 'Righteous', cursive;
font-family: 'Tangerine', cursive;*/

/* font-family: 'Architects Daughter', cursive; Letra al estilo Chokolade (Menú)
font-family: 'Dancing Script', cursive;  letra en cursiva (especiales)
font-family: 'Rampart One', cursive; Letra con sombra (titulos kits y desayunos)*/

.colorFondo {
    background: -webkit-linear-gradient(to bottom, rgb(216, 200, 250), white);
    background: linear-gradient(to bottom, rgb(216, 200, 250), white);
}

nav {
    font-size: 1.3em;
    letter-spacing: 1px;
    font-family: 'Architects Daughter', cursive;

}

.font-nav:hover {
    color: rgb(186, 158, 248);
    text-decoration: none;
}

.precio1 {
    color: blueviolet;
    font-style: italic;
}

.desayunoTitle {
    color: rgb(173, 107, 235);
    font-family: 'Cormorant Infant', serif;
    font-size: 2.3em;
    padding-top: 5px;
}

.desayunoSubtitle {
    font-size: 1.4em;
    font-family: 'Montserrat', sans-serif;
    color: rgb(161, 94, 248);
}

.contenido {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;

}

.texto-aclaratorio {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;

}

.fondoSM:hover {
    background-color: #f1eaf5;
}

.fotos {
    border-radius: 15%;
    box-shadow: 15px 15px 15px 0 rgba(0, 0, 0, 0.2);
}

.fotosd {
    border-radius: 15%;
    box-shadow: 15px 15px 15px 5px rgb(245, 234, 172);
}

.img-foto:focus {
    outline: none;
}

.li {
    list-style: url(../images/tilde.jpg);
}

.linea {
    height: 10px;
    background-color: rgb(239, 227, 250);
    width: 80%;
    border-style: solid;
    border-radius: 100%; 
}

.pie {
    color: #000;
    background: -webkit-linear-gradient(to bottom, rgb(250, 250, 250), rgb(216, 200, 250));
    background: linear-gradient(to bottom, rgb(250, 250, 250), rgb(216, 200, 250));
    font-size: 1.2em;
}

.marca {
    font-family: 'Righteous', cursive;
}

.botonf {
    border: 1px solid;
    border-radius: 50px;
    border-color: #3b5998;
    background-color: #3b5998;
    color: white;
    height: 40px;
    width: 60%;
    word-spacing: 5px;
    text-align: center;
}

.social {
    display: flex;
    flex-flow: row;
}

.botont {
    border: 1px solid;
    border-radius: 50px;
    border-color: #00ACEE;
    background-color: #00ACEE;
    color: white;
    height: 40px;
    width: 60%;
    word-spacing: 5px;
    text-align: center;
}

.botoni {
    border: 1px solid;
    border-radius: 50px;
    border-color: #DD2A7B;
    background-color: #DD2A7B;
    color: white;
    height: 40px;
    width: 60%;
    word-spacing: 5px;
    text-align: center;
}

.boton {
    border: 1px solid;
    border-radius: 50px;
    border-color: rgb(160, 73, 231);
    background-color: rgb(160, 73, 231);
    color: white;
    height: 33px;
    width: 130px;
    word-spacing: 5px;
    font-size: 1.1em;
}

.up {
    border: 1px solid;
    border-radius: 100px;
    border-color: rgb(160, 73, 231);
    background-color: rgb(160, 73, 231);
    color: white;
    height: auto;
    width: auto;
    padding: 5px 15px;
    font-size: 1.4em;
}

.fondo {
    background-color: #FFF;
}

.asterisco {
    color: red;
}

.menu {
    padding-right: 15%;
}

.submenu:focus {
    outline: none;
}

.tituloD {
    color: rgb(206, 98, 139);
    font-family: 'Cormorant Infant', serif;
    font-size: 3em;
}

.subTituloD {
    color: rgb(206, 98, 139);
    font-family: 'Cormorant Infant', serif;
    font-size: 2em;
}

.subTituloDulces {
    color: rgb(206, 98, 139);
    font-family: 'Cormorant Infant', serif;
    font-size: 1.8em;
    font-weight: 500;
}

.titulo-index{
    font-family: 'Architects Daughter', cursive;
    
    
}

.subtitulo-index {
    font-family: 'Cormorant Infant', serif;
    color: blueviolet;
    font-size: 2em;
}

.link-dulce {
    text-decoration: none;
    color: rgb(138, 14, 240);
}
.link-dulce:hover {
text-decoration: none;
color: grey;
}

.fotoMomentos {
    border: 2% solid #FFF;
}

.link-collapse {
    height: 15px;
}

.abajo {
    font-size: 0.5em;
}
.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.float:hover {
    text-decoration: none;
    color: #25d366;
    background-color: #fff;
}

.my-float {
    margin-top: 16px;
}

/* Tamaño Extra-chico */
@media (max-width: 575.98px) {
    .botonf {
        border-radius: 100px;
        height: auto;
        width: auto;
        padding: 5% 13%;
        font-size: 1.5em;
    }

    .botont {
        border-radius: 100px;
        height: auto;
        width: auto;
        padding: 5% 13%;
        font-size: 1.5em;
    }

    .botoni {
        border-radius: 100px;
        height: auto;
        width: auto;
        padding: 5% 13%;
        font-size: 1.5em;
    }

    .fb {
        display: none;
    }

    .tw {
        display: none;
    }

    .ig {
        display: none;
    }

    .desayunoTitle {
        padding-top: 30px;
    }

    .nav-kit {
        text-align: right;
    }

    .fondo {
        background: -webkit-linear-gradient(to bottom, rgb(245, 242, 251), rgb(250, 250, 250));
        background: linear-gradient(to bottom, rgb(245, 242, 251), rgb(250, 250, 250));
    }

    .precio1 {
        margin-top: 5%;
    }

    .fondo1 {
        background: -webkit-linear-gradient(to bottom, rgb(239, 231, 255), rgb(242, 238, 250));
        background: linear-gradient(to bottom, rgb(239, 231, 255), rgb(242, 238, 250));
    }

    .menu {
        padding-right: 5%;
    }

}

/* tamaño sm */
@media (min-width: 576px) and (max-width: 767.98px) {

    .botonf {
        border: 1px solid;
        border-radius: 100px;
        border-color: #3b5998;
        background-color: #3b5998;
        color: white;
        height: 60px;
        width: 40%;
        font-size: 1.7em;
    }

    .botont {
        border: 1px solid;
        border-radius: 100px;
        border-color: #00ACEE;
        background-color: #00ACEE;
        color: white;
        height: 60px;
        width: 40%;
        font-size: 1.7em;
    }

    .botoni {
        border: 1px solid;
        border-radius: 100px;
        border-color: #DD2A7B;
        background-color: #DD2A7B;
        color: white;
        height: 60px;
        width: 40%;
        font-size: 1.7em;
    }

    .fb {
        display: none;
    }

    .tw {
        display: none;
    }

    .ig {
        display: none;
    }

    .desayunoTitle {
        padding-top: 50px;
    }

    .nav-kit {
        text-align: right;
    }

    .nav-kit {
        text-align: right;
    }

    .menu {
        padding-right: 5%;
    }

    .fondo {
        background: -webkit-linear-gradient(to bottom, rgb(245, 242, 251), rgb(250, 250, 250));
        background: linear-gradient(to bottom, rgb(245, 242, 251), rgb(250, 250, 250));
    }

    .precio1 {
        margin-top: 5%;
    }

    .fondo1 {
        background: -webkit-linear-gradient(to bottom, rgb(239, 231, 255), rgb(242, 238, 250));
        background: linear-gradient(to bottom, rgb(239, 231, 255), rgb(242, 238, 250));
    }

}

/* Tamaño md */
@media (min-width: 768px) and (max-width: 991.98px) {

    .desayunoTitle {
        padding-top: 50px;
    }

    .nav-kit {
        text-align: right;
    }

    .menu {
        padding-right: 5%;
    }
}